In [26]:
import numpy as np 
import pandas as pd 

data2 = {'a':[1,2,3,4,5],'b':[6,7,8,9,10]}
df2 = pd.DataFrame(data2, index = ['row1','row2','row3','row4','row5'])
df2.iloc[1]
df2['a']
df2['b']
df2.loc['row1']
df2
#row = pd.DataFrame({'c':[1,2,3,4,5]})
#df2.append(row)

row2 = pd.DataFrame([[1,2]],columns=['a','b'],index = ['row6'])
row2
df2.append(row2)
df2.drop("row1")
df2.columns

df2.index

Index(['row1', 'row2', 'row3', 'row4', 'row5'], dtype='object')

In [95]:
import numpy as np 
import pandas as pd 

data = [1,2,3,4,5]
df = pd.DataFrame(data)
df.ndim
sf = pd.Series(data)
sf.ndim
sf.axes
sf.size
sf.values
sf.head(2)
df.head(2)
df.T


sf.dtype
df.dtypes #타입 두개 존재 

#T,shape
df.shape

data2 = {'a':pd.Series([1,2,3]),'b':pd.Series([4,5,6])}
df2 = pd.DataFrame(data2)
df2
df2.shape
df2.dtypes
df2.ndim

2

In [171]:
data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
        'year': [2000, 2001 ,2002, 2001, 2002, 2003],
        'pop':[1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

frame
frame.head()

pd.DataFrame(data,columns = ['year','state','pop'])

frame2 = pd.DataFrame(data, columns=['year','state','pop','debt'],
                        index = ['one','two','three','four','five','six'])
frame2

frame2.columns
frame2['state']
frame2.year

frame2.loc['three']

frame2['debt']=16.5
frame2

frame2['debt']=np.arange(6.)
frame2

val = pd.Series([-1.2,-1.5,-1.7],index = ['two','four','five'])
frame2['debt'] = val
frame2

frame2['eastern'] = frame2.state =='Ohio'
frame2

del frame2['eastern']
frame2.columns

pop ={'Nevada':{2001:2.4 , 2002: 2.9},
        'Ohio':{2000:1.5, 2001:1.7, 2003: 3.6}}
frame3 = pd.DataFrame(pop)
frame3

frame3.T

pd.DataFrame(pop,index = [2001,2002,2003])

pdata = {'Ohio':frame3['Ohio'][:1],
        'Nevada':frame3['Nevada'][:2]}
pd.DataFrame(pdata)

frame3.index.name='year';frame3.columns.name='state'
frame3

frame3.values
frame2.values

obj=pd.Series(range(3),index=['a','b','c'])
index = obj.index
index
index[1:]
#index[1]='d'  변경불가 
labels = pd.Index(np.arange(3))
labels
obj2 = pd.Series([1.5,-2.5,0] ,index = labels)
obj2
obj2.index is labels

frame3
frame3.columns

'Ohio' in frame3.columns
dup_labels=pd.Index(['foo','foo','bar','bar'])
dup_labels

obj = pd.Series([4.5,7.2,-5.3,3.6],index = ['d','b','a','c'])
obj
obj2 = obj.reindex(['a','b','c','d','e'])
obj2
obj3 = pd.Series(['blue','purple','yellow'],index=[0,2,4])
obj3
obj3.reindex(range(6),method='ffill')


frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                    index = ['a','c','d'],
                    columns=['Ohio','Texas','California'])
frame
frame = frame.reindex(['a','b','c','d'])
frame
states = ['Texas','Utah','California']
frame
states
frame=frame.reindex(columns=states)
frame.loc[['a','b','c','d'],states]

obj = pd.Series(np.arange(5.), index =['a','b','c','d','e'])
obj
new_obj = obj.drop('c')
new_obj
obj.drop(['d','c'])

data = pd.DataFrame(np.arange(16).reshape((4,4)),
                index = ['Ohio','Colorado','Utah','NewYork'],
                columns = ['one','two','three','four'])
data
data.drop(['Colorado','Ohio'])
data.drop('two',axis=1)
data.drop(['two','four'],axis='columns')
obj.drop('c',inplace=True)
obj

obj= pd.Series(np.arange(4.),index=['a','b','c','d'])
obj
obj['b']
obj[1]
obj[2:4]
obj[['b','a','d']]
obj[[1,3]]
obj[obj>2]
obj['b':'c']
obj['b':'c'] = 5
obj


data = pd.DataFrame(np.arange(16).reshape((4,4)),
                index = ['Ohio','Colorado','Utah','NewYork'],
                columns = ['one','two','three','four'])
data
data['two']
data[['three','one']]
data[:2]
data[data['three']>5]
data<5
data[data<5]=0
data
data.loc['Colorado',['two','three']]

data.iloc[2,[3,0,1]]

data.iloc[2]
data.iloc[[1,2],[3,0,1]]
data.loc[:'Utah','two']
data.iloc[:,:3][data.three>5]

          one  two  three
Colorado    0    5      6
Utah        8    9     10
NewYork    12   13     14

In [172]:

frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                    index = ['a','c','d'],
                    columns=['Ohio','Texas','California'])
frame
frame = frame.reindex(['a','b','c','d'])
frame
states = ['Texas','Utah','California']
frame
states
frame=frame.reindex(columns=states)
frame.loc[['a','b','c','d'],states]

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0